* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* statrt addres  */

.addres {
    background-image: url(../img/fifa-18-background-0.png);
    background-size: cover;
}

.add {
    margin-top: 260px;
    margin-bottom: 300px;
    color: aliceblue;
}

.addres h1 {
    font-size: 50px;
    margin-top: -200px;
    margin-bottom: 100px;

}

.addres h4 {
    font-size: 30px;

}

.addres h5 {
    font-size: 70px;
    margin-left: -250px;
    margin-top: 200px;
}

.ass {
    margin-bottom: 100px;
}


.textone {

    margin-left: 200px;
}

/* statrt addres  */


/* **************************************************************************** */
/* **************************************************************************** */


/* start clinck  */
.clinck {
    margin-top: 100px;
    margin-bottom: 100px;
}

.clinck h2 {
    margin-left: 60px;
    margin-top: 30px;
    color: rgb(255, 123, 0);
    font-weight: 20;
}

.clinck h3 {
    margin-left: 60px;
    color: rgb(13, 3, 119);

}

/* end clinck  */


/* **************************************************************************** */
/* **************************************************************************** */


/* card  */
.card h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(227, 115, 41);
    /* margin-bottom: 50px; */
    padding: 20px 10px;
    /* background-color: rgb(227, 115, 41); */
    border-radius: 50px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card .num{
    margin-right: 150px;
    font-size: 30px;
}

.card-player {
    margin-bottom: 30px;
    /* margin-left: 10px; */
}

.card-body {
    background-color: rgb(227, 115, 41);
    color: rgb(255, 255, 255);
}

.card {
    background-color: rgb(3, 7, 90);

}

.card a {
    background-color: rgb(3, 7, 90);

}

/* end card  */


/* **************************************************************************** */
/* **************************************************************************** */


/* start icon  */
.team {
    width: 150px;
    height: 100px;
    margin-left: 50p;
    margin-bottom: 20px;
    color: rgb(0, 106, 255);
}

.player {
    width: 80px;
    height: 80px;
    margin-left: 50p;
    margin-bottom: 20px;

    color: rgb(0, 106, 255);
    margin-top: 20px;
}

.national-team {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 20px;

    color: rgb(0, 106, 255);

}

h6 {
    line-height: 2;
}

/* end icon  */


/* **************************************************************************** */
/* **************************************************************************** */


/* start work  */
.work {
    background-color: rgb(2, 2, 57);
    margin-bottom: 200px;

}

.work h1 {

    color: rgb(2, 2, 57);
    margin-bottom: 50px;
    padding: 20px 10px;
    background-color: rgb(227, 115, 41);
    border-radius: 50px;
}

.work h3 {
    color: rgb(0, 136, 255);
}
.work .ground{
    border: rgb(255, 255, 255);
    padding: 5px;
}
.work .dis{
    color: aliceblue;
    text-align: center;
    margin-left: -50px;
    font-size: 20px;
    margin-bottom: 15px;
    /* background-color: aqua; */
}
.work .disc{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: -120px;
    font-size: 20px;
    margin-bottom: 15px;
}

.pic {
    display: flex;
    justify-content: space-around;

}


.pictures {

    margin-bottom: 100px;
    width: 300px;
    height: 200px;

}

/* end work  */


/* **************************************************************************** */
/* **************************************************************************** */


/* start clubs  */
.clubs {
    margin-bottom: 200px;
    background-color: rgb(2, 2, 57);
}

.century {
    margin-bottom: 150px;
    margin-top: 100px;
    padding: 20px 5px;
    background-color: rgb(227, 115, 41);
    color: rgb(2, 2, 57);
    border-radius: 40px;
}



.logo {
    margin-bottom: 150px;
    padding: 50px 50px;
    /* background-color:rgb(3, 7, 90); */
    color: rgb(227, 115, 41);
    margin-bottom: 200px;
}

/* end clubs  */


/* **************************************************************************** */
/* **************************************************************************** */


/* footer  */
footer {
    margin-top: 100px;
}

section p {
    font-size: 30px;
    margin-bottom: 50px;
}

footer .row {
    color: rgb(227, 115, 41);
}

footer {
    background-color: rgb(6, 6, 80);
}


.social {
    margin-top: 50px;

}

/* footer  */